*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom {
    background-color: #0B2742; 
}
.nav-link.letras {
    color: white;
    text-decoration: underline;
}
.navbar-toggler.color {
    color: rgb(255 255 255 / 65%);
    border: var(--bs-border-width) solid rgba(255, 255, 255, 0.15);
}

body {
    min-height: 100vh;
    background: linear-gradient(#134a7f, #3e709f);
}

.contenedor {
    border: solid 3px rgba(255, 255, 255, 0.2);
    max-width: 100%;
    height: 75vh;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}



table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: rgba(140, 197, 243, 0.4);
}

thead th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
    border-right: solid 1px rgba(255, 255, 255, 0.2);
}

tbody td {
    padding: 15px;
    border-right: solid 1px rgba(255, 255, 255, 0.2);
}


tbody tr {
    cursor: pointer;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

tbody tr:hover {
    background: rgba(103, 168, 243, 0.4);
}

#btn_agregar {
    position: absolute;
    bottom: 2%;
    right: 2%;
    box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.7);
}

#suma{
    width: 70%;
}

.bloque1{
    display: flex;
}

.b{    
    margin-left: 21%;
}

.selector{
    width: 101%;
    height: 3.5%;
}

.selector2{
    width: 101%;
    height: 3.5%;
}

#modal{
    max-height: 61vh;
    overflow-x: auto;
    white-space: nowrap;
}

#modal::-webkit-scrollbar{
    width: 7px;
    background-color: #fff;
}


#modal::-webkit-scrollbar-thumb{
    background: #61A2E0;
    border-radius: 10px;
}

.contenedor::-webkit-scrollbar{
    width: 7px;
    background-color: #fff;
}


.contenedor::-webkit-scrollbar-thumb{
    background: #61A2E0;
    border-radius: 10px;
}